Repository oziomoluabi/Raspberry-Pi5-Federated-Environment, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainer-team, @docs-team, @federated-learning-team, @ml-team, @edge-computing-team, @hardware-team, @matlab-team, @qa-team, @devops-team, @security-team

.github/CODEOWNERS:

# Global owners - these users will be requested for review on all PRs
* @maintainer-team

# Documentation
*.md @docs-team @maintainer-team
docs/ @docs-team @maintainer-team

# Server components (Federated Learning)
server/ @federated-learning-team @maintainer-team
server/models/ @ml-team @federated-learning-team
server/aggregation/ @federated-learning-team @maintainer-team

# Client components (Edge Computing)
client/ @edge-computing-team @maintainer-team
client/sensing/ @hardware-team @edge-computing-team
client/training/ @ml-team @edge-computing-team
client/matlab/ @matlab-team @edge-computing-team

# MATLAB integration
matlab/ @matlab-team @maintainer-team
*.m @matlab-team
*.mlx @matlab-team
*.slx @matlab-team

# Testing
tests/ @qa-team @maintainer-team
tests/unit/ @qa-team @maintainer-team
tests/integration/ @qa-team @hardware-team @maintainer-team

# CI/CD and DevOps
.github/ @devops-team @maintainer-team
.devcontainer/ @devops-team @maintainer-team
docker/ @devops-team @maintainer-team
scripts/ @devops-team @maintainer-team

# Configuration files
*.yml @devops-team @maintainer-team
*.yaml @devops-team @maintainer-team
*.toml @devops-team @maintainer-team
*.cfg @devops-team @maintainer-team
*.ini @devops-team @maintainer-team
config.* @devops-team @maintainer-team

# Security-sensitive files
SECURITY.md @security-team @maintainer-team
.github/workflows/ @security-team @devops-team @maintainer-team

# Package management
requirements*.txt @devops-team @maintainer-team
setup.py @devops-team @maintainer-team
pyproject.toml @devops-team @maintainer-team

# VS Code configuration
.vscode/ @devops-team @maintainer-team
*.code-workspace @devops-team @maintainer-team

feat: Complete Sprint 2 & 3 - Federated Learning and TinyML Autoencoder
  client/main.py
  client/sensing/vibration_sensor.py
  client/training/autoencoder.py
  client/training/federated_client.py
  client/training/tinyml_inference.py
  docs/OPERATIONS-LOG.md
  docs/README.md
  scripts/simulate_federated_learning.py
  scripts/test_tinyml_pipeline.py
  server/aggregation/federated_server.py
  server/main.py
Owners: @edge-computing-team, @maintainer-team, @hardware-team, @ml-team, @docs-team, @devops-team, @federated-learning-team

feat: Complete Sprint 4 - MATLAB/Simulink Integration
  client/matlab/matlab_integration.py
  docs/OPERATIONS-LOG.md
  matlab/create_predictive_maintenance_model.m
  matlab/env_preprocess.m
  scripts/test_matlab_integration.py
  scripts/test_matlab_integration_simple.py
Owners: @matlab-team, @maintainer-team, @docs-team, @devops-team

feat: Complete Sprint 5 - Security & Compliance
  THIRD_PARTY_LICENSES.md
  docs/OPERATIONS-LOG.md
  docs/SECURITY_GUIDE.md
  scripts/security_audit.py
  server/security/secure_federated_server.py
  server/security/tls_config.py
Owners: @docs-team, @maintainer-team, @devops-team, @federated-learning-team

Complete Sprint 8: v1.0 Community Launch
  docs/BETA_TESTING.md
  docs/COMMUNITY_ONBOARDING.md
  docs/MAINTENANCE_PLAN.md
  docs/OPERATIONS-LOG.md
  docs/PROJECT_SPRINT_STATUS.md
  docs/index.md
Owners: @docs-team, @maintainer-team

Finalize OPERATIONS-LOG for v1.0 release
  docs/OPERATIONS-LOG.md
  docs/commit_message.txt
  docs/tag_message.txt
Owners: @docs-team, @maintainer-team

Complete Sprint 8: v1.0 Community Launch
  .github/workflows/advanced-ci.yml
  .github/workflows/sprint6-ci.yml
  .pre-commit-config.yaml
  README.md
  docs/commit_message.txt
  mkdocs.yml
  pyproject.toml
  pytest-sprint6.ini
  scripts/deploy_sprint7.sh
  scripts/inventory.yml
  scripts/performance_benchmark.py
  scripts/prepare_v1_release.sh
  scripts/provision_pi5.yml
  scripts/security_audit_simple.py
  scripts/templates/federated-client.logrotate.j2
  scripts/templates/federated-client.service.j2
  scripts/templates/health_check.py.j2
  scripts/templates/monitor_node.sh.j2
  scripts/templates/pi_config.yaml.j2
  scripts/test_sensors.py
  tests/conftest.py
  tests/integration/test_federated_workflow.py
  tests/unit/test_security_framework.py
Owners: @security-team, @devops-team, @maintainer-team, @docs-team, @qa-team, @hardware-team

Add comprehensive TECHNICAL_FAQ.md documentation
  docs/TECHNICAL_FAQ.md
Owners: @docs-team, @maintainer-team

Add pinned requirements lock files
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  client/requirements.lock
  docs/COMMUNITY_ONBOARDING.md
  docs/index.md
  requirements.lock
  server/requirements.lock
Owners: @security-team, @devops-team, @maintainer-team, @docs-team, @edge-computing-team, @federated-learning-team

Add MATLAB Integration section to TECHNICAL_FAQ.md
  docs/TECHNICAL_FAQ.md
Owners: @docs-team, @maintainer-team
